:root
{
    --primary-color: #425b84;
    --secondary-color: #5b7bb4;
    --max-width: 1100px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font: normal 1rem/1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: var(--primary-color);
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 50px;
}

#main-header
{
    background: var(--secondary-color);
    padding: 4rem;
}

.container
{
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
}

h1
{
    font: 2.3rem;
}

#timeline ul
{
    background: var(--primary-color);
    padding: 50px 0;
}


/* Create Line */

#timeline ul li
{
    list-style: none;
    position: relative; 
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}



/* Boxex */
#timeline ul li div
{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background: var(--secondary-color);

    transition: all 0.5s ease-out;
}



/* Right Side */

#timeline ul li:nth-child(odd) div
{
    left: 40px;
}



/* Left Side */

#timeline ul li:nth-child(even) div
{
    left: -434px;
}

/* Dots */

#timeline ul li:after 
{
    content: '';
    position: absolute;
    left: 50%; /* ? */
    bottom: 0;
    width: 25px;
    height: 25px;
    background: var(--secondary-color);
    transform: translateX(-50%); /* ? */
    border-radius: 50%;
    transition: background 0.5s ease-out;
}



/* Arrows */

#timeline div:before 
{
    content: '';
    position: absolute;
    bottom: 0.5px;
    width: 0;
    height: 0;
    border-style: solid;
}



/* Right Side Arrows */

#timeline ul li:nth-child(odd) div::before
{
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent; /* ? */
}


/* Left Side Arrows */

#timeline ul li:nth-child(even) div::before
{
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent  transparent transparent var(--secondary-color); /* ? */
}
